* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(50, 50, 50); */
    font-family: Arial;
    font-size: 112.5%;
    line-height: 1.6em;
    overflow-x: hidden;
    background-image: url("../img/backg.jpg");
}

#h1 {
    padding: 50px;
    font-family: 'Poppins', sans-serif, 'arial';
    font-size: 60px;
    color: white;
    text-align: center;
}

.container {
    border-radius: 29px;
    background-color: lightblue;
}