* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 112.5%;
    line-height: 1.6em;
    overflow-x: hidden;
    background-color: lightblue;
}

.title h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.details {
    padding-left: 10px;
    border: 3px;
}

.details h1 {
    padding-top: 15px;
    font-size: 1.6em;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    padding-right: 20px;
}

.photo {
    top: 70px;
    width: 450px;
    padding-top: 20px;
    margin: auto;
}

.bordered {
    border: 3px solid black;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 15px;
    margin-right: 100px;
    margin-left: 100px;
    border: 1px solid;
    box-shadow: 5px 8px 8px #888888;
    background-color: white;
}


/* 
.info {
    border: 3px solid black;
    margin-left: 42px;
    margin-right: 42px;
    background-color: rgb(215, 242, 253);
    box-shadow: -1px 3px 40px 8px #888888;
} */