 /* background-image: url("../img/mission.jpg"); */
 
 * {
     margin: 0;
     padding: 0;
     font-family: "Open Sans", sans-serif;
     box-sizing: border-box;
     overflow-y: hidden;
     overflow-x: hidden;
 }

