.introduction {
    font-family: "Montserrat", sans-serif;
}

.introduction .nav-animation {
    background-color: #014e78;
    border: none;
    position: fixed;
    width: 100%;
    min-height: 7vh;
}

.introduction nav {
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.10s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 6vh;
    border-bottom: 1.5px solid lightblue;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #014e78;
    opacity: 0.9;
}

.introduction nav #logo {
    color: lightblue;
    font-family: 'Courgette', cursive;
    padding: 21px 25px;
    flex-basis: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.introduction nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-basis: 70%;
}

.introduction nav .nav-links a {
    color: lightblue;
    text-decoration: none;
}

.introduction nav .nav-links :hover {
    opacity: 0.8;
}

.countryFlag {
    width: 30px;
    height: 18px;
}

a:visited,
a:active,
a:link {
    color: white;
}

.translate-button {
    height: 22px;
}