* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #303952;
}

.our-team {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

.our-team h1 {
    font-family: 'Bangers', cursive;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: black;
    font-size: 40px;
}

.distance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 140px;
    height: 3px;
    background-color: #058ceb;
}

.photos {
    margin-bottom: 40px;
}

.photos a {
    display: inline-block;
    overflow: hidden;
    margin: 0 26px;
    width: 200px;
    height: 200px;
    border-radius: 40%;
}

.photos a img {
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.each {
    color: black;
    width: 600px;
    height: 0;
    margin: auto;
    font-size: 20px;
    overflow: hidden;
    text-align: justify;
}

.each:target {
    height: auto;
}

.role-name {
    text-align: center;
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 20px;
}

.distance-hr {
    display: block;
    margin: auto;
    margin-bottom: 36px;
    width: auto;
    height: 3px;
    background-color: #058ceb;
}

.our-mission {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 60px;
}

.our-mission h1 {
    font-family: 'Bangers', cursive;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: black;
    font-size: 40px;
}

.ms {
    color: black;
    width: 600px;
    margin: auto;
    font-size: 20px;
    text-align: justify;
}

button {
    font-family: 'Bangers', cursive;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 20px 0px;
    background: #058ceb;
    border: 2px solid #34495e;
    padding: 10px 35px;
    color: white;
    cursor: pointer;
}

#ct, #ct2, #ct3 {
    text-align: start;
}