* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

body {
    background-color: #4F5E80;
    overflow-x: hidden;
}

.container {
    align-items: center;
    justify-content: center;
    position: static;
    align-content: center;
}

.introduction {
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.introduction .nav-animation {
    background-color: #058ceb;
    border: none;
    position: fixed;
    width: 100%;
    min-height: 7vh;
}

.introduction nav {
    width: 100%;
    z-index: 10;
    -webkit-transition: all 0.10s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 7vh;
    border-bottom: 1.5px solid lightblue;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.introduction nav #logo {
    color: lightblue;
    font-family: 'Courgette', cursive;
    padding: 0px 25px;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.introduction nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-basis: 60%;
}

.introduction nav .nav-links a {
    color: lightblue;
    text-decoration: none;
}

.introduction nav .nav-links :hover {
    opacity: 0.1;
}