* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(50, 50, 50);
    font-family: 'Open Sans', sans-serif;
    font-size: 112.5%;
    line-height: 1.6em;
    overflow-x: hidden;
}

.title h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.details {
    padding-left: 10px;
}

.details h1 {
    padding-top: 15px;
    font-size: 1.6em;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    padding-right: 20px;
}

.photo {
    top: 70px;
    width: 450px;
    right: 40%;
    padding-top: 20px;
}

.bordered {
    border: 3px solid black;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    padding-left: 15px;
}